@{
    ViewData["Title"] = "Página Inicial";
}

<div class="logo padding">
    <p>Donation</p>
</div>
<div class="texto_home">
    <div class="div_image padding">
        <img src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjIxMWJhdGNoMTEta2liLTMxMC1jaGFyaXR5XzIuanBn.jpg" />
    </div>
    <div class="div_texto padding">
        <h1>Olá, seja bem-vindo ao nosso site de doações!</h1>
        <h4>Uma breve descrição sobre o que você entrará por aqui...</h4>
        <p>
            Aqui temos o prazer de ajudar pessoas que estão situações difíceis e que precisam da nossa ajuda.Nós acreditamos que cada pequena doação pode fazer uma grande diferença na vida de alguém, por isso, estamos muito gratos por você estar aqui!
        </p>
        <a class="bottom_home" asp-area="" asp-controller="Doacao" asp-action="Index">Acesse aqui</a>
    </div>
</div>
<footer class="footer">
    <p asp-area="" asp-controller="Home" asp-action="Privacy">Desenvolvido academicamente por Stéfanie Borges Batista</p>
</footer>