@model Donation.Models.DoacaoModel
@{
    ViewData["Title"] = "Adquirir Doações";
}

<div class="container">
    <div>
        <h1>Adquirir Doação</h1>
    </div>
    <form method="post" asp-controller="Doacao" asp-action="Adquirir">
        <input type="hidden" asp-for="id" />
        <div class="form-group">
            <label for="Nome">Nome</label>
            <input type="text" class="form-control" asp-for="nome" id="Nome"  readonly style="cursor:not-allowed">
            <span asp-validation-for="nome"></span>
        </div>
        <div class="form-group">
            <label for="Nome">Imagem</label>
            <input type="text" class="form-control" asp-for="image" id="image"readonly style="cursor:not-allowed">
            <span asp-validation-for="image"  style="color: blueviolet;"></span>
        </div>
        <div class="form-group">
            <label for="Descricao">Descrição</label>
            <input type="text" class="form-control" asp-for="descricao" id="Descricao"  readonly style="cursor:not-allowed">
            <span asp-validation-for="descricao"  style="color: blueviolet;"></span>
        </div>
        <div class="form-group">
            <label for="Valor">Valor</label>
            <input type="text" class="form-control" asp-for="valor" id="Valor" readonly style="cursor:not-allowed">
            <span asp-validation-for="valor"  style="color: blueviolet;"></span>
        </div>
        <div class="form-group">
            <label for="Contato">Contato</label>
            <input type="text" class="form-control" asp-for="contato" id="Contato"  readonly style="cursor:not-allowed">
            <span asp-validation-for="contato"  style="color: blueviolet;"></span>
        </div>
        <div class="form-group">
            <label for="Contato">Endereço</label>
            <input type="text" class="form-control" asp-for="endereco" id="endereco"  readonly style="cursor:not-allowed">
            <span asp-validation-for="endereco"  style="color: blueviolet;"></span>
        </div>
        <div class="form-group">
            <label for="Contato">Beneficiado</label>
            <input type="text" class="form-control" asp-for="beneficario" id="beneficiario" value=""  placeholder="Digite o nome do beneficiario">
            <span asp-validation-for="beneficario"  style="color: blueviolet;"></span>
        </div>
        <div style="display: flex; justify-content:space-around; margin-top: 5px;">
            <button type="submit" class="botao esquerdo">Adquirir</button>
            <a class="botao direito" asp-controller="Doacao" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>
<footer class="footer_cadastro">
    <p asp-area="" asp-controller="Home" asp-action="Privacy">Desenvolvido academicamente por Stéfanie Borges Batista</p>
</footer>

